av
typed-argument-parser
hydra-core
einops
rich
tqdm
scipy
h5py
kornia
sophuspy
opencv-python
rerun-sdk~=0.21
numpy<2
matplotlib
imageio[ffmpeg]
trimesh
huggingface_hub
python-box[all]~=7.0
timm
wandb
accelerate==1.0.1
transformers==4.57.3