defaults:
  - dataset/train/kubric_24frames_384trajs_10Msamples@train_dataset
  - dataset/valid/kubric_24frames_384trajs_200samples@test_datasets.kubric_24frames_384trajs_200samples
  # LSFOdyssey (GT + MegaSaM)
  # - dataset/eval/lsfodyssey@test_datasets.lsfodyssey
  # - dataset/eval/lsfodyssey_megasam@test_datasets.lsfodyssey_megasam
  # Dynamic Replica (GT + MegaSaM)
  # - dataset/eval/dr_valid_firstvisible_gt@test_datasets.dr_valid_firstvisible_gt
  # - dataset/eval/dr_valid_firstvisible_megasam@test_datasets.dr_valid_firstvisible_megasam
  # DexYCB (sensor depth)
  # - dataset/eval/dexycb@test_datasets.dexycb
  # TAPVid-3D (MegaSaM)
  # - dataset/eval/drivetrack_full_megasam@test_datasets.drivetrack_full_megasam
  # - dataset/eval/pstudio_full_megasam@test_datasets.pstudio_full_megasam
  # - dataset/eval/adt_full_megasam@test_datasets.adt_full_megasam

  - model: tapip3d_n2nattn
  - override hydra/hydra_logging: none  
  - override hydra/job_logging: none
  
seed: 42
eval_only: false
experiment_name: tapip3d_kubric_24frames_384trajs

model:
  seq_len: 16

wandb:
  enable: true
  project: tapip3d
  # entity: point_tracking_3d
  log_code: false

criterion:
  gamma: 0.8
  traj_weight: 0.005
  bce_weight: 0.015
  traj_visible_weight: 0.0
  traj_invisible_weight: 0.0
  scale_loss_by_depth: true

train:
  additional_transform:
    - name: to_local
      kwargs: {}
    - name: blur_depth
      kwargs:
        prob: 0.5
        gn_kernel_range: [7, 15]
    - name: camera_aug
      kwargs:
        init_vel_range: [0.00, 0.03]
        init_ang_range: [0.00, 0.1]
        vel_noise: 0.015
        ang_noise: 0.05
        alpha: 0.8
        keep_first: False

  optimizer_name: adamw

  lr: 5e-4
  weight_decay: 5e-4

  scheduler_name: constant
  scheduler_kwargs:
    pct_start: 0.05
    cycle_momentum: false
    anneal_strategy: cos

  mixed_precision: "bf16"
  checkpoint: null
  batch_size: 1
  num_workers: 6
  prefetch_factor: 2
  save_freq: 200
  eval_freq: 4000
  visualize_nbatches: 3
  relative_action: false
  gradient_accumulation_steps: 1
  train_iters: 4
  eval_iters: 6
  max_grad_norm: 10.0

  streaming_backward: True
  bidirectional_eval: True

  train_steps: 10000000